body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.radio-label {
  color: white !important;
  flex: 1;
  font-size: x-small !important;
}

.title-label {
  color: white !important;
  flex: 1;
}
